mixin courselist(public)
  .row
    each course in courses
      .card.mb-3.w-100
        div.course-item.p-3
          .row
            .col-md-3
              if course.icon
                img.object-fit-cover.img-fluid.square(src="/media/pixel.gif" alt=course.headline style="background-image: url('/images/"+course.icon+"')")
              else
                span No image uploaded
            .col-md-9
              h2
                if course.language
                  strong.text-uppercase=course.language.title+" - "
                +displayLanguage(course, `courses`)

                = course.headline
              if course.order
                .text-muted
                  span="Order: "
                  span.badge.badge-secondary.text-justify=course.order
              h4.text-muted=course.title
              p.text-muted=course.subtitle
              form.d-flex.justify-content-between(method='POST', action='/admin/courses/delete/'+course.slug +'?_method=DELETE')
                  .d-flex.align-items-center
                    a.btn.btn-outline-primary.mr-2(href="/courses/"+course.slug) Show
                    if user && user.admin === "true"
                      a.btn.btn-outline-primary.mr-2(href="/admin/courses/edit/"+course.slug) Edit
                      button.btn.btn-outline-danger(type='submit') Delete